* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header {
    width: 100vw;
    padding: 8px 16px;
    background-color: white;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content:space-between;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    position: fixed;
}
.logo {
    letter-spacing: 0.6em;
    color: rgb(119, 156, 255);
    font-size: 32px;
    font-weight:bold ;
}
#news-image {

}
#news-source {
    color: rgb(160, 160, 160);
    padding-bottom: .5rem;
    font-style: italic;
}